@font-face {
  font-family: 'CorsicaMX';
  src: url('../fonts/CorsicaMX-Bold.eot');
  src: local('☺'), url('../fonts/CorsicaMX-Bold.woff') format('woff'), url('../fonts/CorsicaMX-Bold.ttf') format('truetype'), url('../fonts/CorsicaMX-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CorsicaMX';
  src: url('../fonts/CorsicaMX-Regular.eot');
  src: local('☺'), url('../fonts/CorsicaMX-Regular.woff') format('woff'), url('../fonts/CorsicaMX-Regular.ttf') format('truetype'), url('../fonts/CorsicaMX-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

