*,
*:after,
*:before {
  box-sizing: border-box;
  vertical-align: top;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  transition: all ease 0.6s;
  font-family: CorsicaMX, sans-serif;
}

.container {
  width: 100%;
  max-width: 1165px;
  margin: 0 auto;
  padding: 0 10px;
}

.right {
  right: 0;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.header_tops {
  min-height: 44px;
  background: #333333;
  display: flex;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.header_top {
  display: flex;
}

.contact {
  display: flex;
  flex: 0 0 33.333%;
  align-items: center;
}

.tel {
  display: flex;
  align-items: center;
  transition: all linear 0.2s;
}
.tel img {
  width: 13px;
  height: 13px;
}
.tel:hover {
  transform: scale(1.1);
}

.mail {
  display: flex;
  align-items: center;
  margin-left: 33px;
  transition: all linear 0.2s;
}
.mail img {
  width: 13px;
  height: 13px;
}
.mail:hover {
  transform: scale(1.1);
}

.cnt {
  font-size: 14px;
  color: white;
  text-decoration: none;
  margin-left: 5px;
}

.sign {
  display: flex;
  flex: 0 0 33.333%;
  align-items: center;
}

.icons img {
  margin-left: 20px;
}

.sign-in {
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  margin-left: 20px;
  cursor: pointer;
  transition: all linear 0.2s;
}
.sign-in:hover {
  color: #FFDE00;
}

.but_register {
  display: flex;
  flex: 0 0 33.333%;
  align-items: center;
  justify-content: flex-end;
  height: 44px;
}
.but_register span {
  font-size: 14px;
  color: white;
}

.reg {
  margin-right: 5%;
  width: 100px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  border: 1px solid #FFDE00;
  transition: all linear 0.2s;
}
.reg:hover {
  background: #FFDE00;
  color: black;
  cursor: pointer;
}

.come {
  width: 70px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  border: 1px solid #FFDE00;
  transition: all linear 0.2s;
}
.come:hover {
  background: #FFDE00;
  color: black;
  cursor: pointer;
}

.twit {
  transition: all linear 0.2s;
}
.twit:hover img {
  transform: scale(1.3);
}

.face {
  transition: all linear 0.2s;
}
.face:hover img {
  transform: scale(1.3);
}

.vk {
  transition: all linear 0.2s;
}
.vk:hover img {
  transform: scale(1.3);
}

.inst {
  transition: all linear 0.2s;
}
.inst:hover img {
  transform: scale(1.3);
}

.header_main {
  display: flex;
  box-shadow: 0 10px 10px grey;
  min-height: 82px;
  width: 100%;
  background: white;
  z-index: 2;
}

.head_wrap {
  display: flex;
}

.logo {
  display: flex;
  flex: 0 0 10%;
  align-items: center;
  min-height: 82px;
}

.logo_img {
  cursor: pointer;
  transition: all linear 0.2s;
}

.nav {
  display: flex;
  flex: 0 0 90%;
  justify-content: flex-end;
  background: white;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation li {
  margin-left: 18px;
}
.navigation li a {
  font-size: 14px;
  color: #999999;
}

.nav_1:hover {
  color: #333333;
}

.nav_2:hover {
  color: #333333;
}

.nav_3:hover {
  color: #333333;
}

.nav_4:hover {
  color: #333333;
}

.nav_5:hover {
  color: #333333;
}

.nav_6:hover {
  color: #333333;
}

.nav_7:hover {
  color: #333333;
}

.nav_8:hover {
  color: #333333;
}

.nav_9:hover {
  color: #333333;
}

.burger_menu {
  display: none;
}

.course {
  margin-top: 132px;
  position: relative;
  z-index: 0;
}

.target_h {
  display: flex;
  margin-bottom: 8%;
}
.target_h .trg {
  font-size: 64px;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid white;
  padding-bottom: 15px;
  margin: 0;
}
.target_h span {
  font-size: 64px;
  color: white;
  font-weight: normal;
  margin-left: 15px;
}

.course_wrap {
  display: flex;
}

.info_course {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img_course {
  flex: 0 0 50%;
}
.img_course img {
  width: 500px;
  height: 500px;
}

.info_t {
  font-size: 36px;
  color: #333333;
}

.lvl_up {
  font-size: 17px;
  color: #333333;
  margin-top: 25px;
}

.button_course {
  margin-top: 51px;
  background: #7746D7;
  font-size: 17px;
  color: white;
  padding: 1% 3%;
  width: 150px;
  text-align: center;
  border-radius: 30px;
  transition: all linear 0.2s;
}
.button_course:hover {
  box-shadow: 0 0 10px #7746D7;
}

.dots {
  position: absolute;
  top: 16%;
  right: 14%;
}

.dots_two {
  position: absolute;
  bottom: 16%;
  left: 2%;
}

.rec_one {
  position: absolute;
  top: 53%;
  right: 8%;
}

.target_course {
  background: #7746D7;
  position: relative;
}

.target_wrap {
  display: flex;
  padding: 113px 0;
}

.list_info {
  flex: 0 0 50%;
}

.target {
  flex: 0 0 50%;
}

.ul_info {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10% 0;
  background: #A38BFF;
  border-radius: 15px;
  align-items: center;
}
.ul_info li {
  width: 70%;
  display: flex;
  padding: 4% 0;
  border-top: 1px solid #7746D7;
}
.ul_info li:first-child {
  border-top: none;
}
.ul_info img {
  background: white;
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 3px;
}
.ul_info span {
  font-size: 17px;
  color: #333333;
  margin-left: 5px;
}

.h {
  font-size: 64px;
  color: white;
}

.target_info {
  display: flex;
}
.target_info p {
  width: 40%;
  font-size: 17px;
  color: white;
  margin-left: 25px;
}
.target_info p span {
  font-size: 17px;
  color: white;
  font-weight: bold;
}

.target_img img {
  cursor: pointer;
}
.target_img img:hover {
  transform: scale(1.2);
}

.rec_two {
  position: absolute;
  z-index: 0;
  top: -5%;
  left: 5%;
}

.author {
  background: white;
  position: relative;
}

.rec_author {
  position: absolute;
  top: 25%;
  right: 8%;
}

.plus {
  position: absolute;
  top: -1%;
  right: 5%;
}

.plus_second {
  position: absolute;
  top: 21%;
  left: 6%;
}

.h_author {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}
.h_author span {
  font-size: 64px;
  color: #333333;
  font-weight: bold;
  border-bottom: 2px solid #7746D7;
  padding-bottom: 1%;
}
.h_author p {
  font-size: 64px;
  color: #333333;
  margin-left: 15px;
}

.author_wrap {
  display: flex;
  margin-top: 90px;
}

.author_img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 50%;
}

.author_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 50%;
}

.two_name span {
  font-size: 36px;
  color: #7746D7;
  font-weight: bold;
}

.first_name span {
  font-size: 36px;
  color: #7746D7;
}

.name_info {
  width: 70%;
  margin-top: 40px;
}
.name_info span {
  font-size: 17px;
  color: #333333;
}

.h_program {
  display: flex;
}
.h_program p {
  font-size: 64px;
  color: #333333;
  font-weight: bold;
}
.h_program span {
  font-size: 64px;
  color: #333333;
  font-weight: normal;
  padding-left: 1%;
}

.program_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
}

.list_style {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  width: 80%;
}
.list_style li {
  list-style-image: url("../img/icons/line.png");
  list-style-position: outside;
  margin-top: 5px;
}
.list_style li p {
  font-size: 17px;
  color: #333333;
  font-weight: bold;
}
.list_style li p span {
  font-size: 17px;
  color: #333333;
  font-weight: normal;
  margin-left: 10px;
}

.press {
  display: flex;
  width: 530px;
  background: #7746D7;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 2% 8%;
  border-radius: 30px;
  cursor: pointer;
}
.press:hover {
  transform: scale(1.1);
}

.line_press {
  width: 1px;
  height: 23px;
  background-color: white;
}

.img_program {
  display: flex;
  align-items: center;
}

.pres {
  font-size: 17px;
  color: white;
}

.learn {
  margin-top: 145px;
}

.h_learn {
  display: flex;
  justify-content: center;
}
.h_learn p {
  font-size: 64px;
  color: #333333;
  font-weight: bold;
  border-bottom: 1px solid #7746D7;
  padding-bottom: 2%;
}
.h_learn span {
  font-size: 64px;
  color: #333333;
  font-weight: normal;
  margin-left: 15px;
}

.learn_wrap {
  display: flex;
}

.img_learn {
  flex: 0 0 50%;
}
.img_learn img {
  max-width: 100%;
}

.list_learn {
  flex: 0 0 50%;
  padding-right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list_learn ul {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #A38BFF;
  padding: 3% 4%;
  margin: 4% 0;
  border-radius: 30px;
}
.list_learn ul li {
  padding: 4%;
  border-top: 1px solid #7746D7;
}
.list_learn ul li span {
  font-size: 21px;
  color: #333333;
}
.list_learn ul li:first-child {
  border-top: none;
}

.learn_wrap {
  background: #ece9ee;
  margin-bottom: 2%;
  border-radius: 30px;
}

.h_learn {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 2% 0;
}
.h_learn span {
  font-size: 64px;
  color: #333333;
  font-weight: normal;
}
.h_learn p {
  font-size: 64px;
  color: #333333;
  font-weight: bold;
  padding-bottom: 0;
}

.graphic_learn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 35%;
  position: relative;
}

.data {
  display: flex;
  align-items: center;
  justify-content: center;
}
.data span {
  font-size: 17px;
  color: #7746D7;
  font-weight: bold;
}

.rec_data {
  display: flex;
  position: absolute;
  top: 48%;
  left: 3%;
}

.ellipse_data {
  position: absolute;
  top: 20%;
  left: 0;
}

.form_learn {
  flex: 0 0 65%;
  padding: 2% 15px;
}
.form_learn form {
  width: 100%;
}
.form_learn form label {
  width: 80%;
  margin-top: 15px;
  display: flex;
  border: none;
  align-items: center;
}
.form_learn form label input {
  width: 80%;
  padding: 3%;
  font-size: 17px;
  color: #999999;
  outline: none;
  border-radius: 30px;
  border: 2px solid #E7D2F4;
  cursor: pointer;
}
.form_learn form label input:focus {
  box-shadow: 0 0 10px #7746D7;
}
.form_learn form label input:focus::placeholder {
  color: transparent;
}
.form_learn form label .radio:focus {
  box-shadow: none;
}
.form_learn form button {
  width: fit-content;
  font-size: 17px;
  color: white;
  padding: 2%;
  border: 1px solid #7746D7;
  border-radius: 30px;
  background: #7746D7;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
}
.form_learn form button:hover {
  box-shadow: 0 0 10px #7746D7;
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}
.action span {
  font-size: 17px;
  color: #333333;
  font-weight: normal;
}
.action .online {
  font-weight: bold;
  margin-top: 5px;
}

.radio {
  flex: 0 0 10%;
  width: 28px;
  height: 28px;
  border-color: #7746D7;
}

.robo {
  font-size: 30px;
  color: red;
  font-weight: bold;
  margin-left: 10px;
}

.kassa {
  font-size: 30px;
  color: blue;
  font-weight: bold;
}

.h_slider {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 15px;
}
.h_slider span {
  font-size: 64px;
  color: #333333;
  font-weight: bold;
  border-bottom: 1px solid #7746D7;
}

.slider_wrap {
  position: relative;
  padding: 0 70px;
}

.slick-track {
  display: flex;
}

.slick-arrow {
  color: #333333;
  position: absolute;
  width: 52px;
  height: 30px;
  top: 50%;
  outline: none;
  border: none;
  cursor: pointer;
}
.slick-arrow:hover {
  transform: scale(1.1);
}

.slick-prev {
  left: 0;
  background: url("../img/arrow_prev.png") 0 0 no-repeat;
}

.slick-next {
  right: 0;
  background: url("../img/arrow.png") 0 0 no-repeat;
}

.slick-list {
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img {
  width: 230px;
}
.card span {
  font-size: 24px;
  color: #333333;
  font-weight: bold;
}
.card .name {
  font-weight: bold;
  text-align: center;
}

.comment {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 2%;
  border: 2px solid #FFDE00;
  border-radius: 30px;
  position: relative;
  margin-top: 150px;
}
.comment span {
  font-size: 21px;
  color: #333333;
}

.com {
  position: absolute;
  top: -23%;
  left: 1%;
}

.comments {
  display: flex;
}

.forms {
  background: #E7D2F4;
  margin-top: 15px;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 753px;
  margin: 6% 0;
}

.h_form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: white;
  padding: 2% 5px;
}
.h_form span {
  font-size: 30px;
  color: #333333;
  font-weight: bold;
  margin-left: 10px;
}

.form_main {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 3% 0;
  background: #ece9ee;
}
.form_main form {
  display: flex;
  width: 100%;
}
.form_main form label {
  flex: 0 0 33.333%;
  margin-left: 15px;
}
.form_main form label input {
  font-size: 17px;
  padding: 4%;
  border-radius: 30px;
  border: 1px solid #E7D2F4;
  outline: none;
  cursor: pointer;
}
.form_main form label input:focus {
  box-shadow: 0 0 10px #7746D7;
}
.form_main form label input:focus::placeholder {
  color: transparent;
}
.form_main form button {
  flex: 0 0 25%;
  font-size: 17px;
  color: white;
  border: none;
  background-color: #7746D7;
  border-radius: 30px;
  outline: none;
  padding: 1%;
  cursor: pointer;
}
.form_main form button:hover {
  box-shadow: 0 0 10px #7746D7;
}

.document {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #7746D7;
}

.doc_info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 5px;
}
.doc_info span {
  font-size: 24px;
  color: white;
  margin: 0 15px;
}

.banner {
  background: #FFDE00;
}

.banner_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 15px;
  margin-top: 2%;
}
.banner_wrap span {
  font-size: 36px;
  color: #333333;
}
.banner_wrap a {
  display: flex;
  margin-left: 15px;
  padding: 1% 3%;
  font-size: 17px;
  color: white;
  background: #7746D7;
  cursor: pointer;
  border-radius: 30px;
}
.banner_wrap a:hover {
  box-shadow: 0 0 10px #7746D7;
}

.footer {
  background: black;
  padding: 2% 15px;
}

.footer_wrap {
  display: flex;
  justify-content: space-between;
}

.cont_footer {
  display: flex;
}

.logo_active a {
  display: flex;
  align-items: center;
  font-size: 45px;
  cursor: pointer;
}
.logo_active a img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1750px) {
  .dots_two, .dots, .rec_one, .rec_two, .plus, .plus_second, .rec_author {
    display: none;
  }

  .author_wrap, .learn {
    margin: 0;
  }
}
@media screen and (max-width: 1150px) {
  .img_course, .img_learn, .com, .ellipse_data, .img_program, .line_press {
    display: none;
  }

  .press {
    width: fit-content;
    padding: 2%;
  }
  .press img {
    display: none;
  }
  .press span {
    text-align: center;
  }

  .info_course {
    display: flex;
    align-items: center;
    flex: 0 0 100%;
  }

  .info_t {
    text-align: center;
  }

  .lvl_up, .info_t, .learn_wrap {
    margin: 0;
    padding: 2%;
  }

  .button_course {
    margin: 0 0 2% 0;
  }

  .list_learn {
    flex: 0 0 100%;
    padding: 0;
  }
  .list_learn ul {
    width: 100%;
  }
  .list_learn ul li {
    padding: 2%;
  }

  .program_course, .target_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .list_program ul, .list_info ul {
    width: 100%;
  }
  .list_program ul li, .list_info ul li {
    list-style: none;
  }

  .learn {
    margin: 0;
    padding-top: 2%;
  }

  .doc_info {
    padding: 1% 10px;
  }

  .author_img img {
    width: 250px;
    height: 250px;
  }

  .target {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .target .h {
    margin-top: 4%;
  }

  .target_info {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }

  .h_author, .author_wrap {
    margin: 0;
    padding-top: 2%;
  }

  .ul_info, .target_wrap {
    padding: 2% 0;
  }

  .comment {
    margin-top: 2%;
  }

  .learn_wrap {
    margin-bottom: 2%;
  }
}
@media screen and (max-width: 923px) {
  .contact, .sign-in, .graphic_learn, .logo_doc, .logo_gal {
    display: none;
  }

  .h {
    font-size: 32px;
  }

  .header_top {
    justify-content: space-between;
  }

  .burger_menu {
    display: flex;
  }

  .header_main {
    box-shadow: none;
  }

  .nav {
    display: flex;
    position: fixed;
    margin-top: 44px;
    width: 50%;
    justify-content: flex-start;
    top: 0;
    right: -100%;
    box-shadow: 0 0 10px;
  }

  .right {
    right: 0;
  }

  .navigation {
    flex-direction: column;
    width: 70%;
  }
  .navigation li {
    padding: 6% 0;
    width: 70%;
    margin: 0;
    border-top: 2px solid #333333;
  }
  .navigation li:first-child {
    border-top: none;
  }

  .burger_menu {
    display: flex;
    flex: 0 0 90%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
  }

  .burger_wrap {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .burger_wrap span {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333333;
    top: 50%;
    left: 5px;
  }

  .burger_wrap span:after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #333333;
    top: 0;
    left: 0;
    transform: translateY(-10px);
  }

  .burger_wrap span:before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #333333;
    top: 0;
    left: 0;
    transform: translateY(10px);
  }

  .burger_active {
    cursor: pointer;
  }
  .burger_active span {
    width: 20px;
  }
  .burger_active span:after {
    transform: rotate(25deg);
    width: 20px;
    transform-origin: right bottom;
  }
  .burger_active span:before {
    width: 20px;
    transform: rotate(-25deg);
    transform-origin: right top;
  }

  .form_learn {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 0 0 100%;
  }
  .form_learn form label {
    width: 100%;
  }
  .form_learn form label input {
    width: 100%;
    padding: 2%;
  }

  .h_learn p, .h_program p, .h_author p {
    font-size: 32px;
  }
  .h_learn span, .h_program span, .h_author span {
    font-size: 32px;
  }

  .comment {
    margin: 30px 0;
  }

  .name_info {
    margin-top: 0;
  }

  .first_name {
    margin-bottom: 2%;
  }
}
@media screen and (max-width: 650px) {
  .logo_form {
    display: none;
  }

  .target_h {
    margin-bottom: 4%;
  }
  .target_h .trg {
    font-size: 32px;
  }
  .target_h span {
    font-size: 32px;
  }

  .h_form span {
    margin: 0;
    padding: 0 10px;
    font-size: 20px;
  }

  .h_slider span {
    font-size: 32px;
  }

  .author_wrap {
    flex-direction: column;
  }

  .author_info {
    align-items: center;
  }

  .name_info {
    text-align: center;
    margin-bottom: 2%;
  }

  .form_main form {
    flex-direction: column;
    align-items: center;
  }
  .form_main form label {
    width: 80%;
    flex: 0 0 100%;
    margin-top: 15px;
  }
  .form_main form label input {
    width: 100%;
    padding: 2%;
  }
  .form_main form button {
    width: fit-content;
    padding: 2%;
    margin-top: 15px;
  }

  .press {
    width: fit-content;
    padding: 3%;
    margin: 2% auto;
  }

  .line_press {
    margin: 0 5px;
  }

  .info_t {
    font-size: 18px;
  }

  .banner_wrap {
    flex-direction: column;
  }
  .banner_wrap span {
    font-size: 20px;
  }
  .banner_wrap a {
    margin: 15px 0 0 0;
  }
}
@media screen and (max-width: 420px) {
  .target_img {
    display: none;
  }

  .target_info p {
    width: 80%;
  }

  .author_img img {
    width: 150px;
    height: 150px;
  }

  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
  }

  .h_learn, .h_program {
    text-align: center;
  }
  .h_learn p, .h_program p {
    font-size: 24px;
  }
  .h_learn span, .h_program span {
    font-size: 24px;
  }

  .cont_footer {
    display: flex;
    flex-direction: column;
  }

  .mail {
    margin: 0;
  }

  .first_name {
    text-align: center;
  }

  .target .h {
    margin: 4% 0;
  }
  .target .line {
    margin: 0 0 4% 0;
  }

  .target_info {
    margin: 0;
  }
  .target_info p {
    margin: 0;
  }
}

/*# sourceMappingURL=main.css.map */
