.h_slider{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 15px;
  span{
    font-size: 64px;
    color: #333333;
    font-weight: bold;
    border-bottom: 1px solid #7746D7;
  }
}

//Slider
.slider_wrap{
  position: relative;
  padding: 0 70px;
}

.slick-track{
  display: flex;
}
.slick-arrow{
  //font-size: 17px;
  color: #333333;
  position: absolute;
  width: 52px;
  height: 30px;
  top: 50%;
  //z-index: 10;
  outline: none;
  border: none;
  cursor: pointer;
  &:hover{
    transform: scale(1.1);
  }
}
.slick-prev{
  left: 0;
  background: url("../img/arrow_prev.png") 0 0 no-repeat;
}

.slick-next{
  right: 0;
  background: url("../img/arrow.png") 0 0 no-repeat;
}

.slick-list{
  overflow: hidden;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    width: 230px;
  }
  span{
    font-size: 24px;
    color: #333333;
    font-weight: bold;
  }
  .name{
    font-weight: bold;
  }
}


//Comment

.comment{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 2%;
  border: 2px solid #FFDE00;
  border-radius: 30px;
  position: relative;
  margin-top: 150px;
  span{
    font-size: 21px;
    color: #333333;
  }
}

.com{
  position: absolute;
  top: -23%;
  left: 1%;
}

.comments{
  display: flex;
}


@media screen and (max-width: 1000px){
  .com{
    display: none;
  }
}
